{% extends "list.html" %}
{% load static %}

{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock head_list %}

{% block columns %}
<tr>
    <th scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 50%;">Descripción</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{% endblock columns %}

{% block rows %}

{% endblock rows %}

<!-- Colco el bloque vacio para que no se ejecute ese ploque -->

{% block javascript %}
  
{% endblock javascript %}